html,
body,
#viewDiv {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    }

#infoDiv {
    position: absolute;
    top: 15px;
    left: 60px;
    }

#infoDiv input {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
    }

.esri-widget--button.active,
.esri-widget--button.active:hover,
.esri-widget--button.active:focus {
    cursor: default;
    background-color: #999696;
    }
.esri-widget--button.active path,
.esri-widget--button.active:hover path,
.esri-widget--button.active:focus path {
    fill: #e4e4e4;
    }

#landuse-filter {
        height: 160px;
        width: 100%;
        visibility: hidden;
    }

.landuse-item {
        width: 100%;
        padding: 12px;
        text-align: center;
        vertical-align: baseline;
        cursor: pointer;
        height: 40px;
    }

.landuse-item:focus {
    background-color: dimgrey;
    }

.landuse-item:hover {
    background-color: dimgrey;
    }

.esri-view .esri-directions {
    position: fixed;
    right: 15px;
    }

.esri-view .esri-component.esri-attribution {
    position: fixed;
    }

#gridDiv {
    padding: 10px;
    max-width: 1000px;
    min-height: 200px;
      }

.table-expand{
    width: 800px;
        }

.dgrid {
    height: auto !important;
      }

.dgrid .dgrid-scroller {
    position: relative;
    max-height: 200px;
    min-height: 200px;
    overflow: auto;
      }

.esri-widget--button.active,
.esri-widget--button.active:hover,
.esri-widget--button.active:focus {
cursor: default;
background-color: #999696;
}
.esri-widget--button.active path,
.esri-widget--button.active:hover path,
.esri-widget--button.active:focus path {
fill: #e4e4e4;
}

        .overlay {
            opacity:0;
            position:fixed;
            top:-999em;
            left:-999em;
            width:100%;
            height:100%;
            display:table;
            background:rgba(0,0,0,0.8);
            -webkit-animation: splash 20s forwards; 
            animation: splash 20s forwards;
        }

        .overlay-inner {
            display:table-cell;
            vertical-align:middle;
            text-align:center;
        }
        .title{
            align-content: center;
        }
        .message {
/*            border:1px solid #6e6e6e;*/
            border-radius: 4px;
            background: rgba(102,128,168, 0.6);
            display:inline-block;
            vertical-align:middle;
            width:50%;
            text-align:center;
            font-family: "Avenir Next W00";
            color: #f9f9f9;
            padding:10px;
        }

        .active {
            background: #6680a8;
            color: #4c4c4c;

        }

        .overlay-wrap {
            position:fixed;
            top:0;
            left:0;
            right:0;
            z-index:99;
        }

        .overlay-wrap .hide {
            position:absolute;
            top:-999em;
            right:20px;
/*            border:1px solid #6e6e6e;*/
            border-radius: 2px;
            background: rgba(102,128,168, 0.6);
            display:inline-block;
            text-align:middle;
            font-family: "Avenir Next W00";
            opacity:0;
            color:#f9f9f9;
            padding:2px;
            font-size:100%;
            z-index:2;
            cursor:pointer;
            -webkit-animation:15s fadein 2s forwards;
            -moz-animation:15s fadein 2s forwards;
            -ms-animation:15s fadein 2s forwards;
            animation:15s fadein 2s forwards;
        }

        #hide {
            position:absolute;
            left:-999em;
            top:-999em;
        }

        .overlay2{
            position:absolute;
            opacity:1;
            -webkit-transition:all 2s;
            -moz-transition:all 2s;
            -ms-transition:all 2s;
            transition:all 2s ;
        }

        #hide:checked ~ div,#hide:checked ~ div *, #hide:checked + label {
            opacity:0;
            left:-999em;
            right:auto;
            top:-999em;
            pointer-events:none;
        }

        @-webkit-keyframes splash {
            0%  {opacity: 0;top:0;left:0}
            20% {opacity:1;top:0;left:0}
            60% {opacity:1;top:0;left:0}
            99% {top:0;left:0}
            100% {opacity:0;top:-999em;left:-999em}
        }

        @-moz-keyframes splash {
            0%  {opacity: 0;top:0;left:0}
            20% {opacity:1;top:0;left:0}
            60% {opacity:1;top:0;left:0}
            99% {top:0;left:0}
            100% {opacity:0;top:-999em;left:-999em}
        }

        @-ms-keyframes splash {
            0% {opacity: 0;top:0;left:0}
            20% {opacity:1;top:0;left:0}
            60% {opacity:1;top:0;left:0}
            99% {top:0;left:0}
            100% {opacity:0;top:-999em;left:-999em}
        }

        @keyframes splash {
            0%  {opacity: 0;top:0;left:0}
            20% {opacity:1;top:0;left:0}
            60% {opacity:1;top:0;left:0}
            99% {top:0;left:0}
            100% {opacity:0;top:-999em;left:-999em}
        }

        @-webkit-keyframes fadein {
            0% {opacity: 0;top:10px;}
            20% {opacity:1;top:10px;}
            60%{opacity:1;top:10px}
            99% {top:10px}
            100%{opacity:0;top:-999em}
        }

        @-moz-keyframes fadein {
            0% {opacity: 0;top:10px;}
            20% {opacity:1;top:10px;}
            60%{opacity:1;top:10px}
            99% {top:10px}
            100%{opacity:0;top:-999em
        }

        @-ms-keyframes fadein {
            0% {opacity: 0;top:10px;}
            20% {opacity:1;top:10px;}
            60%{opacity:1;top:10px}
            99% {top:10px}
            100%{opacity:0;top:-999em
        }

        @keyframes fadein {
            0% {opacity: 0;top:10px;}
            20% {opacity:1;top:10px;}
            60%{opacity:1;top:10px}
            99% {top:10px}
            100%{opacity:0;top:-999em}
        }